@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}

body {
  @apply h-full bg-black;
}

.custom-text-color {
  color: #33a863 !important;
}

.custom-background-color {
  --tw-bg-opacity: 1;
  background: #33a863 !important;
}

.hover\:custom-background-color:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}